{% extends 'base.html.twig' %}

{% block title %}New Fuseauhoraire{% endblock %}

{% block body %}
    <h1>Create new Fuseauhoraire</h1>

    {{ include('fuseauhoraire/_form.html.twig') }}

    <a href="{{ path('fuseauhoraire_index') }}">back to list</a>
{% endblock %}
